@using Microsoft.AspNet.Identity
@model ITConferences.Domain.Entities.Conference

@Styles.Render("~/Content/details")
@Scripts.Render("~/bundles/rating")


<div class="container" id="details">

    <div class="row buffer">
        <div class="col-md-4 col-xs-4">
            @Html.ActionLink("Back to the conferences", "Index")
        </div>
    </div>
    <div class="row text-success">
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-4">
            @if (Model.Image != null)
            {
                <img src="@Url.Action("GetImage", "Conferences", new {imageId = Model.ImageId}, null)" class="img-responsive img-thumbnail" alt="Conference image"/>
            }
            else
            {
                <img src="../../img/default.jpg" class="img-responsive img-thumbnail" alt="Conference image"/>
            }
        </div>

        <div class="col-md-8 col-xs-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TargetCity.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TargetCity.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TargetCountry.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TargetCountry.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Url)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </dt>

                <dd>
                    @(Model.IsPaid ? "Yes" : "No")
                </dd>

                @if (Model.Tags != null && Model.Tags.Count != 0)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Tags)
                    </dt>

                    <dd>
                        @foreach (var tag in Model.Tags)
                        {
                            @Html.ActionLink(tag.Name, "Index", new {tagsFilter = tag.TagID})@($"{", "}")
                        }
                    </dd>
                }

                @if (Model.Organizer != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Organizer)
                    </dt>

                    <dd>
                        @Html.ActionLink(Model.Organizer.User.UserName, "Details", "Organizers", new {id = Model.Organizer.OrganizerID}, null)@($"{", "}")
                    </dd>
                }
                @if (Model.Speakers != null && Model.Speakers.Count != 0)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Speakers)
                    </dt>

                    <dd>
                        @foreach (var speaker in Model.Speakers)
                        {
                            @Html.ActionLink(speaker.User.UserName, "Details", "Speakers", new {id = speaker.SpeakerID}, null)@($"{", "}")
                        }
                    </dd>
                }

            </dl>
        </div>

    </div>

    <div class="row buffer">

        <div class="col-md-4 col-xs-4 pull-right">
            <!-- Twitter -->
            <a href="http://twitter.com/home?status=@Request.Url" title="Share on Twitter" target="_blank" class="btn btn-Twitter"><i class="fa fa-twitter"></i> Twitter</a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url" title="Share on Facebook" target="_blank" class="btn btn-Facebook"><i class="fa fa-facebook"></i> Facebook</a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url=@Request.Url" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=@Request.Url" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
        </div>
    </div>


    <div class="row">
        <p class="pull-left">
            Evaluations:
        </p>
        <br/>
        <div class="well">

            <div class="thumbnail row" style="overflow: hidden;">

                <div class="col-md-7 col-xs-6">
                    <input type="text" id="full"/>
                </div>
                <div class="col-md-4 col-xs-3">
                    <input id="input-id" type="number" class="rating pull-right" step="1" min="0" max="5" data-size="xs">
                </div>
                <div class="col-md-1 col-xs-1">
                    <button id="submitButton" type="submit" value="Submit" class="btn btn-success btn-lg pull-right">
                        <span class="glyphicon glyphicon-ok"></span></button>
                </div>

            </div>


            @if (Model.Evaluation != null)
            {
                foreach (var eval in Model.Evaluation)
                {
                    <div class="thumbnail row" style="overflow: hidden;">
                        <div class="col-md-2 col-xs-3">
                            @if (Request.IsAuthenticated && eval.Owner.Image != null)
                            {
                                <label>@eval.Owner.UserName</label>
                                <img src="@Url.Action(" GetImage", "Conferences", new {imageId = eval.Owner.ImageId}, null)" class="img-responsive img-thumbnail" alt="Conference image"/>
                            }
                            else
                            {
                                <img src="../../img/default.jpg" class="img-responsive img-thumbnail" alt="Conference image"/>
                            }
                        </div>
                        <div class="col-md-6 col-xs-6">
                            @eval.Comment
                        </div>
                        <div class="col-md-4 col-xs-3">
                            <input id="input-id" disabled="true" showClear="true" type="number" class="rating pull-right" step="1" min=0 max=5 data-size="xs" value=@eval.CountOfStars>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</div>


<script type="text/javascript">

    //pass name filter to filter conferences
    var conference =
    {
        "conferenceId": @Model.ConferenceID,
    };

    var owner =
    {
        "ownerId": "@User.Identity.GetUserId()",
    };

    $("#submitButton").click(function() {

        $.ajax({
            url: '/Conferences/AddEvaluation/',
            type: "POST",
            dataType: "HTML",
            data: { conferenceId: conference.conferenceId, countOfStars: $("#input-id").val(), comment: $("#full").val(), ownerId: owner.ownerId },
            success: function(data) {
                if (data != "") {
                    $("#details").html(data);
                }
            }
        });


    });
</script>