@using ITConferences.WebUI.Helpers
@model IEnumerable<ITConferences.Domain.Entities.Conference>


@{
    ViewBag.Title = "Conferences";
}

@Styles.Render("~/Content/create-conference")
@Scripts.Render("~/bundles/conference")

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="form-group center-block submit">

                <div class="col-md-3 col-xs-4">
                    @Html.TextBox("NameFilter", ViewData["NameFilter"], new {@id = "name", @type = "text", @class = "form-control", @placeholder = "Event name"})
                </div>
                <div class="col-md-3 col-xs-4">
                    @Html.TextBox("LocationFilter", ViewData["LocationFilter"], new {@id = "location", @type = "text", @class = "form-control", @placeholder = "Location"})
                </div>
                <div class="col-md-3 col-xs-4">
                    @Html.ListBox("TagsFilter", ViewData["TagsFilter"] as MultiSelectList, htmlAttributes: new {@id = "tags", @class = "hide"})
                </div>
                <div class="col-md-2 col-xs-4">
                    @Html.DropDownList("DateFilter", EnumHelper.GetSelectList(typeof (DateFilter)), htmlAttributes: new {@id = "dateFilter", @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="row">
            <button id="submitButtonIndex" type="submit" value="Submit" class="btn btn-success btn-lg pull-right"><span class="glyphicon glyphicon-search"></span></button>
        </div>

    </div>

    <div class="row">
        @Html.Partial("_ConferencesView")
    </div>
</div>

