@model IEnumerable<ITConferences.Domain.Entities.Conference>

@{
    ViewBag.Title = "Conferences";
    int i = 1;
}

<style>
    .btn:active {
        box-shadow: none;
    }

    .link-format {
        color: lightseagreen;
    }

        .link-format:hover {
            color: lightseagreen;
            text-decoration: none;
        }

    .conference-name {
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="row">
        <section>

            <div class="form-group">
                <div class="col-md-4 col-xs-4">
                    <div class="input-group">
                        <div class="form-group">
                            <input type="search" class="form-control glyphicon glyphicon-search" placeholder="Search..."/>
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                </div>
                <div class="col-md-4 col-xs-4">
                </div>
            </div>

        </section>
    </div>
    <div class="row">
        <section>
            <div class="form-group">
                @foreach (var item in Model)
            {
                    <div class="form-group">
                        <div class="col-md-4 col-xs-4 btn">
                            <a href="@Url.Action("Details","Conferences",new { id = item.ConferenceID })" class="link-format">
                                <div class="col-md-6 col-xs-6">
                                    <img src="../../img/default.jpg" class="img-responsive img-thumbnail center-block" alt="Responsive image" />
                                </div>

                                <div class="col-md-6 col-xs-6 thumbnail">
                                    <div class="row conference-name">@Html.DisplayFor(modelItem => item.Name)</div>
                                    <div class="row">@Html.DisplayFor(modelItem => item.TargetCountry.Name), @Html.DisplayFor(modelItem => item.TargetCity.Name)</div>
                                    <div class="row">@Html.DisplayFor(modelItem => item.Date)</div>
                                    <div class="row">@Html.DisplayFor(modelItem => item.Url)</div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
