@model ITConferences.Domain.Entities.Conference

@Styles.Render("~/Content/create-conference")
@Scripts.Render("~/bundles/manage")


<div class="container" id="manage">
    @Html.EditorFor(model => model.ConferenceID, new {htmlAttributes = new {@class = "hidden"}})
    @Html.EditorFor(model => model.OrganizerId, new {htmlAttributes = new {@class = "hidden"}})
    <div class="row buffer">
        <div class="col-md-4 col-xs-4">
            @Html.ActionLink("Back to your conferences", "OrganizedConferences", "Manage")
        </div>
    </div>

    <h4>Change the event</h4>
    <hr/>

    <div class="row">
        <div class="col-md-4 col-xs-4 form-horizontal container">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control success input-lg"}})
            @if (Model.ImageId != null)
            {
                <img src="@Url.Action("GetImage", "Conferences", new {imageId = Model.ImageId}, null)" class="img-responsive img-thumbnail" alt="Conference image"/>
            }
            else
            {
                <img src="../../img/default.jpg" class="img-responsive img-thumbnail" alt="Conference image"/>
            }

            <form method="post" enctype="multipart/form-data" class="form-group row">
                Change image:
                <div class="col-md-10">
                    <input type="file" name="image" id="imageManage"/>
                </div>
            </form>
        </div>

        <div class="col-md-8 col-xs-8 form-horizontal container">
            <div class="form-group">
                @Html.LabelFor(model => model.TargetCountry.Name, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TargetCountryId, ViewData["Countries"] as SelectList, "Select city", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.TargetCountryId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TargetCity.Name, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TargetCityId, ViewData["Cities"] as SelectList, "Select city", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.TargetCityId, "", new {@class = "text-danger"})
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Url, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Url, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPaid, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPaid)
                    @Html.ValidationMessageFor(model => model.IsPaid, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Change tags:", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.ListBox("TagsSelector", ViewData["TagsSelector"] as MultiSelectList, new {@id = "tags", @class = "hide"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Add speakers:", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.ListBox("SpeakersSelector", ViewData["SpeakersSelector"] as MultiSelectList, new {@id = "speakers", @class = "hide"})
                </div>
            </div>


        </div>
    </div>
    <div class="form-group row">
        <div class="pull-right">
            <input type="submit" value="Save changes" class="btn btn-success" id="manageButton"/>
        </div>
    </div>

</div>