<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/grayscale.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <noscript>
        <div>
            <h2>This site requires JavaScript</h2>
        </div>
    </noscript>

    <div class="navbar navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                @Html.ActionLink("IT Conferences", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-left" })
            </div>
            <div class="nav navbar-nav navbar-right" id="#navbar-collapse-5">
                <div class="navbar-form navbar-left">
                    @Html.ActionLink("Add an event", "Create", "Conferences", null, new { @class = "btn btn-danger pull-right" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Conferences", "Index", "Conferences")</li>
                    <li>@Html.ActionLink("Speakers", "Index", "Speakers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @*<div role="search" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
