<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <noscript>
        <div>
            <h2>This site requires JavaScript</h2>
        </div>
    </noscript>

    <div class="nav navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                @Html.Raw(@Html.ActionLink("[replacetext]", "Index", "Home").ToHtmlString().Replace("[replacetext]", "<img class=\"logo-img\" src=\"../../img/Logo.png\" ... />"))
            </div>
            <div class="nav navbar-nav navbar-right" id="#navbar-collapse-5">
                <div class="navbar-form navbar-left">
                    @Html.ActionLink("Add an event", "Create", "Conferences", null, new { @class = "btn btn-danger pull-right" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Conferences", "Index", "Conferences")</li>
                    <li>@Html.ActionLink("Speakers", "Index", "Speakers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
               
            </div>
        </div>
    </div>


    <div class="container body-content">
        @Html.Partial("_Alerts")
        @RenderBody()
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
