@using Microsoft.AspNet.Identity
@model ITConferences.Domain.Entities.Attendee

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right">
            @*<li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>*@
            @if (Model != null)
            {
                <img src="../../img/default.jpg" class="img-responsive img-thumbnail" alt="@User.Identity.Name" />
            }
            else
            {
                <img src="../../img/default.jpg" class="img-responsive img-thumbnail" alt="@User.Identity.Name" />

            }
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
    </ul>
}
